*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
  background: linear-gradient(to right, #6b001b, crimson);
}

/* --- BOLA ANIMADA --- */

.bola {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 9999;
    pointer-events: none;
}

.bola1 {
    width: 150px;
    position: absolute;
    animation: voltaSite 10s linear infinite;
}

/* Animação */
@keyframes voltaSite {
    0% { top: 0; left: 0; }
    25% { top: 0; left: calc(100vw - 150px); }
    50% { top: calc(100vh - 150px); left: calc(100vw - 150px); }
    75% { top: calc(100vh - 150px); left: 0; }
    100% { top: 0; left: 0; }
}

/* --- TEXTOS E LOGO --- */

.h2{
    color: rgb(230, 227, 228);
    text-align: center;
    font-size: 70px;
    font-weight: 700;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    gap: 20px;
}

.imgLogo{
    border-radius: 50px;
    width: 300px;
    height: 250px;
}

/* --- JOGADORES --- */

.jogadores {
    text-align: center;
    margin-top: 50px;
}

.h1, .h3, .h4 {
    font-size: 65px;
    margin-top: 50px;
}

/* Imagens dos jogadores */
.img{
    width: 400px;
    border-radius: 15px;
    animation: Flutuar 2s ease-in-out infinite alternate;
    box-shadow: 45px 45px 30px #080808;
    margin-top: 15px;
}

/* Corrigido: o certo é hover (não houver) */
.img:hover{
    transform: scale(1.05);
}

@keyframes Flutuar {
     0%{ top: 0; }
    100%{ top: 30px; }
}

/* --------------------- */
/*     RESPONSIVIDADE     */
/* --------------------- */

/* Tablets */
@media (max-width: 900px) {
    .imgLogo {
        width: 220px;
        height: 180px;
    }

    .h1, .h2, .h3, .h4 {
        font-size: 50px;
    }

    .img {
        width: 300px;
    }

    .bola1 {
        width: 120px;
    }
}

/* Celulares */
@media (max-width: 600px) {

    .logo {
        flex-direction: column;
    }

    .imgLogo {
        width: 180px;
        height: 150px;
    }

    .h1, .h2, .h3, .h4 {
        font-size: 35px;
    }

    .img {
        width: 80%;
        box-shadow: 20px 20px 15px #080808;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bola1 {
        width: 100px;
    }
}
